@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin :0;
    background-color: #0a0a11;
    font-family: 'Poppins' , sans-serif;
    font-size: 15px;
    width: 100vw;

}

/* bagian navbar */
.nav {
    position: fixed;
    z-index: 999;
    width: 100vw;
    top: 0;
    transition: top 0.9s ease;
}
.nav.hidden {
    top: -100px;
    
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: #0a0a11; */
    color: white;
    padding: 0 10vw; 
}
.Nama-web {
    font-size: 10px;
    font-family: 'Pacifico', cursive;
}
.list-nav {
    display: flex;
    justify-content: center;
    font-size: 8px;
    gap: 60px;
}
.list-nav h1.list{
    width: max-content;
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
    cursor: pointer;
}
.list-nav h1.list::after{
    content: "";
    position: absolute;
    display: inline-block;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s ease-in-out;
}
.list-nav h1.list:hover::after{
    width: 100%;
    background-color: #e67e22;
}
.list-nav h1:hover{
    color: #e67e22;
}
.Nama-web a{
    color: #fff;
    text-decoration: none;
}
.button-box {
    display: flex;
	width: 100px;
	margin: 30px auto;
	position: relative;
	border-radius: 50px;
	background: #fff
}
.tooltip {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    background-color: #ffffff;
    color: #0a0a11;
    white-space: nowrap;
    padding: 10px 15px;
    border-radius: 8px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.button-box:hover .tooltip{
    top: 130%;
    visibility: visible;
    opacity: 1;
}
.tooltip::before{
    content: "";
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translateX(-50%);
    border: 10px solid transparent;
    border-bottom-color: #ffffff;
}
.button-box img{
    width: 100%;
    height: 90%;
}
.toggle-btn {
	padding: 8px 15px;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: none;
	position: relative;
	text-align: center;
    border-radius: 50%;
}
#btn {
	left: 0;
	top: 0;
	position: absolute;
	width: 55px;
	height: 100%;
	background: #e67e22;
	border-radius: 50px;
	transition: .5s;
}


/* bagian halaman pembuka */
.banner{
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.banner .bg{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: 0.1s;
}
.banner .bg-1{
    background-image: url('../asset-snorkeling/1.png');
}
.banner .bg-2{
    background-image: url('../asset-snorkeling/2.png');
}
.banner .bg-3{
    background-image: url('../asset-snorkeling/3.png');
}
.banner .bg-4{
    background-image: url('../asset-snorkeling/4.png');
}
.banner .bg-5{
    background-image: url('../asset-snorkeling/5.png');
}

@keyframes animation-bg6{
    0% {
        transform: translate(-30px, 20px);
    }
    100% {
        transform: translate(0, 0);
    }
}
.banner .bg-6{
    background-image: url('../asset-snorkeling/6.png');
    animation: animation-bg6 8s;
}

/* top: 50px;
left: -20px; */

@keyframes animation-bg7{
    0% {
        transform: rotate(-4deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
.banner .bg-7{
    background-image: url('../asset-snorkeling/7.png');
    top: -45px;
    rotate: -12deg;
    left: 10px;
    animation: animation-bg7 8s;
}
.banner .bg-8{
    background-image: url('../asset-snorkeling/8.png');
    top: 420px;
}
.banner .bg-9{
    background-image: url('../asset-snorkeling/9.png');
}

.banner  h1{
    position: absolute;
    top: 25%;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 12vw;
    font-family: 'Pacifico', cursive;
    color: #fff;
}


.Penjelasan{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-top: 10vw;
    margin-bottom: 10vw;
}

.primer{
    color: #e67e22;
}

/* style bagian title about us*/
.judul{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0 10vw;
    gap: 2vw;
    color: white;
}
.judul h1{
    font-size: 3vw;
    margin-top: 0;
}
.judul label{
    font-size: 1.5vw;
}

.info-tambahan{
    display: flex;
    flex-direction: column;
    gap: 0.8vw;
}
.info{
    display: flex;
    align-items: center;
    gap: 1vw;
}
.info label{
    font-size: 01vw;
}
.info img{
    width: 1.2vw;
    height: 1.2vw;
}
/* style bagian title about us*/



.peralatan{
    display: flex;
    justify-content: space-between;
    padding: 5vw ;
    margin-bottom: 10vw;
}

.penjelasan{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    font-size: 1.2vw;
    padding: 3vw 8vw 3vw 5vw;
    gap: 2vw;
}

.alat-alat{
    display: flex;
    flex-direction: column;
    gap: 2vw;
}

.alat1{
    display: flex;
    gap: 2vw;
}
.alat2{
    display: flex;
    gap: 2vw;
}

.alat{
    display: flex;
    flex-direction: column;
    width: 20vw;
    height: 12vw;
    background-color: rgba(255, 255, 255, 0.09);
    border-radius: 8px;
    border: 2px solid #e67e22;
    color: white;
    padding: 2vw;
    font-size: 0.8vw;
    gap: 0.5vw;
}

.alat img{
    width: 1.8vw;
}

.alat .line{
    width: 100%;
    height: 1px;
    background-color: #e67e22;
}




.gambar-penjelasan{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 10vw;
    gap: 1vw;
}

.gambar-penjelasan .video img{
    width: 100%;
    height: 22vw;
    border-radius: 8px;
}

.gambar-penjelasan .gambar{
    display: flex;
    justify-content: space-between;
}
.gambar-penjelasan .gambar1 img{
    width: 21vw;
    height: 13vw;
    background-size: cover;
}
.gambar-penjelasan .gambar2 img{
    width: 12vw;
    height: 13vw;
    background-size: cover;
}


/* style map */
.map{
    position: relative; 
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 40vw;
    background-image: url('../asset-snorkeling/map.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding: 12vw 0;
}
.judul-map {
    font-size: 1.6vw;
}
.tombol-map{
    position: relative;
    z-index: 2;
    padding: 1vw 2vw;
    background-color: #e67e22;
    border-radius: 8px;
}
.tombol-map a{
    text-decoration: none;
    color: white;
    font-size: 1.4vw;
}

.gradasi-atas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 10vw; 
    background: linear-gradient(to bottom, #0a0a11, transparent);
    z-index: 1;
}

.gradasi-bawah {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10vw;
    background: linear-gradient(to top, #0a0a11, transparent);
    z-index: 1;
}

/* bagian destinasi */

.destinasi-diving{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    color: #fff;
    margin: 15vw 0;
}

.gambar-utama{
    display: flex;
    justify-content: space-between;
}
.keterangan{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2vw;
    padding: 6vw 5vw 6vw 10vw;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    transform: translateY(20px);
}
.keterangan1{
    display: flex;
    flex-direction: column;
    gap: 0.1vw;
}
.keterangan1 h1{
    font-size: 5vh;
}
.keterangan1 a{
    color: white;
}
.keterangan2 label{
    font-size: 2vh;
}
.gambar-utama .gambar{
    display: flex;
    align-items: center;
}
.keterangan h1{
    color: #e67e22;
}
.keterangan3 button{
    width: 10vw;
    height: 3vw;
    border-radius: 8px;
    color: white;
    background-color: #e67e22;
    border: none;
    margin: 2vw 0;
    cursor: pointer;
    font-size: 1vw;
}
.gambar img{
    height: 35vw;
    border-radius: 8px;
}


/* style piliihan */
.semua-pilihan{
    display: flex;
    gap: 3vw;
    overflow-x: scroll;
    padding: 5vh 0 5vh 10vw;
    scrollbar-width: none;
}
.semua-pilihan::-webkit-scrollbar{
    display: none;
}
.pilihan img{
    width: 28vw;
    height: 20vw;
    object-fit: cover;
    border-radius: 12px;
    cursor: pointer;
}


@media (max-width: 500px) {

    .banner{
        height: 100vh;
        position: relative;
        overflow: hidden;
    }

    .keterangan1 h1{
        font-size: 3vh;
    }
    .keterangan2 label{
        font-size: 1.5vh;
    }
}
