@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin :0;
    background-color: #0a0a11;
    font-family: 'Poppins' , sans-serif;
    font-size: 15px;
    width: 100vw;
    overflow-x: hidden;
}


::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #000000;
}

::-webkit-scrollbar-thumb {
    background: #e67e22; 
    border-radius: 10px;
}

.nav {
    position: fixed;
    z-index: 999;
    width: 100vw;
    top: 0;
    transition: top 0.9s ease;
}
.nav.hidden {
    top: -100px;
    
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 0 10vw; 
    background-color: #0a0a11;
}
.Nama-web {
    font-size: 10px;
    font-family: 'Pacifico', cursive;
}
.list-nav {
    display: flex;
    justify-content: center;
    font-size: 8px;
    gap: 60px;
}
.list-nav h1.list{
    width: max-content;
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
    cursor: pointer;
}
.list-nav h1.list::after{
    content: "";
    position: absolute;
    display: inline-block;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s ease-in-out;
}
.list-nav h1.list:hover::after{
    width: 100%;
    background-color: #e67e22;
}
.list-nav h1:hover{
    color: #e67e22;
}
.list.active {
    color: #e67e22;
}
.list-nav h1.list:hover::after.active{
    width: 100%;
    background-color: #e67e22;
}
.button-box {
    display: flex;
	width: 100px;
	margin: 30px auto;
	position: relative;
	border-radius: 50px;
	background: #fff
}
.tooltip {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    background-color: #ffffff;
    color: #0a0a11;
    white-space: nowrap;
    padding: 10px 15px;
    border-radius: 8px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.button-box:hover .tooltip{
    top: 130%;
    visibility: visible;
    opacity: 1;
}
.tooltip::before{
    content: "";
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translateX(-50%);
    border: 10px solid transparent;
    border-bottom-color: #ffffff;
}
.button-box img{
    width: 100%;
    height: 90%;
}
.toggle-btn {
	padding: 8px 15px;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: none;
	position: relative;
	text-align: center;
    border-radius: 50%;
}
#btn {
	left: 0;
	top: 0;
	position: absolute;
	width: 55px;
	height: 100%;
	background: #e67e22;
	border-radius: 50px;
	transition: .5s;
}


.banner{
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.banner .bg{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: 0.1s;
}
.banner .bg-1{
    background-image: url('asset/0.png');
}
.banner .bg-2{
    background-image: url('asset/1.png');
}
.banner .bg-3{
    background-image: url('asset/2.png');
}
.banner .bg-4{
    background-image: url('asset/3.png');
}
.banner .bg-5{
    background-image: url('asset/4.png');
}
.banner .bg-6{
    background-image: url('asset/5.png');
}

.banner  h1{
    position: absolute;
    top: 25%;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 11rem;
    font-family: 'Pacifico', cursive;
    color: #fff;
}

@media screen and (max-width: 768px){
    .banner .bg-1{
        background-image: url('asset/0.png');
    }
    .banner .bg-2{
        background-image: url('tampilanhp/hp1.png');
    }
    .banner .bg-3{
        background-image: url('tampilanhp/hp2.png');
    }
    .banner .bg-4{
        background-image: url('tampilanhp/hp3.png');
    }
    .banner .bg-5{
        background-image: url('tampilanhp/hp4.png');
    }
    .banner .bg-6{
        background-image: url('tampilanhp/hp5.png');
    }
    
    .banner  h1{
        position: absolute;
        top: 30%;
        left: 0;
        width: 100%;
        text-align: center;
        font-size: 18vw;
        font-family: 'Pacifico', cursive;
        color: #fff;
    }


    .banner2{
        display: none;
    }

}


.aboutus{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-top: 100px;
}

.aboutus button{
    height: 8vh;
    background-color: #e67e22;
    color: white;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    transition: 0.1s;
    padding: 0 2vw;
}

.aboutus button:hover{
    background-color: #fff;
    color: #e67e22;
    transform: scale(1.05);
}

.primer{
    color: #e67e22;
}

.title{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0 10vw;
    gap: 2vw;
}
.title h1{
    font-size: 36px;
    margin-top: 0;
}
.title label{
    font-size: 24px;
}

.animation-show{
    transform: translateY(50px);
    opacity: 0;
    transition: 0.7s;
}
.active .animation-show{
    transform: translateY(0);
    opacity: 1;
}
.animation-show:nth-child(2){
    transition-delay: 0.3s;
}
.animation-show:nth-child(3){
    transition-delay: 0.3s;
}
.animation-show:nth-child(4){
    transition-delay: 0.6s;
}
.animation-show:nth-child(5){
    transition-delay: 0.6s;
}
.animation-show:nth-child(6){
    transition-delay: 0.9s;
}
.animation-show:nth-child(7){
    transition-delay: 0.9s;
}


.banner2 {
    flex: 1.3   ;
    height: 120vh;
    width: 95vh;
    position: relative;
    overflow: hidden;
}
.banner2 .bg2 {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: transform 0.1s;
}
.banner2 .bg2.bg-1 {
    background-image: url('asset/6.png'); 
}
.banner2 .bg2.bg-2 {
    background-image: url('asset/7.png'); 
}
.banner2 .bg2.bg-3 {
    background-image: url('asset/8.png'); 
}
.banner2 .bg2.bg-4 {
    background-image: url('asset/9.png'); 
}
.banner2 .bg2.bg-5 {
    background-image: url('asset/11.png'); 
    background-size: 50%;
    bottom: 300px;
    left: -100px;
}
.banner2 .bg2.bg-6 {
    background-image: url('asset/12.png'); 
    background-size: 50%;
    left: -150px;
    bottom: 50px;
}
.banner2 .bg2.bg-7 {
    background-image: url('asset/13.png'); 
    background-size: 80%;
    bottom: 70px;
}
.banner2 .bg2.bg-8 {
    background-image: url('asset/10.png'); 
}


.part3{
    display: flex;
    flex-direction: column;
    gap: 100px;
    padding: 20vw 0;
}
.menyediakan {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;
    transform: translateY(50px);
    opacity: 0;
    transition: transform 0.7s, opacity 0.7s;
    padding: 0 18vw;
}

.menyediakan.active {
    transform: translateY(0);
    opacity: 1;
}


.main-card {
    display: flex;
    align-items: center;
    color: white;
    gap: 5vw;
    padding: 0 10vw;
}

.card {
    width: 60vw;
    height: 30vw;
    background-size: cover;
    background-position: center;
    border-radius: 12px;
    position: relative;
    overflow: hidden; 
    transform: translateY(50px);
    opacity: 0;
    transition: 0.7s;
}

.active .card{
    transform: translateY(0);
    opacity: 1;
}
.card:nth-child(2){
    transition-delay: 0.3s;
}
.card:nth-child(3){
    transition-delay: 0.5s;
}
.card:nth-child(4){
    transition-delay: 0.7s;
}

.card .isi-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    position: absolute;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); 
    padding: 20px;
    transform: translateY(100%);
    transition: transform 0.4s ease-in-out, opacity 0.4s ease-in-out;
    opacity: 0;
}

.card:hover .isi-card {
    transform: translateY(0);
    opacity: 1; 
}

.card .isi-card h1 {
    margin: 0;
    transition: transform 0.4s ease-in-out;
    transform: translateY(20px); 
}

.card:hover .isi-card h1 {
    transform: translateY(0); 
}

.card .isi-card label {
    display: block;
    margin-top: 10px;
    opacity: 0; 
    transition: opacity 0.4s ease-in-out;
}

.card:hover .isi-card label {
    opacity: 1; 
}



.splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0); 
    color: white; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    z-index: 999; 
    font-family: 'Pacifico', cursive;

}

.loader {
    border: 8px solid rgba(255, 255, 255, 0.3); 
    border-top: 8px solid #ffffff; 
    border-radius: 50%; 
    width: 60px; 
    height: 60px;
    animation: spin 1s linear infinite; 
    margin-bottom: 20px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}



.comment-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    gap: 40px;
    padding-top: 150px;
}

.all-comment {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-comment {
    display: flex;
    justify-content: center;
    position: relative;
    gap: 200px;
    z-index: 10;
}

.button-comment .btn2 {
    width: 80px;
    height: 80px;
    background-image: url('asset/next.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    background-color: transparent;
    padding: 0;
}

.button-comment .btn1 {
    width: 80px;
    height: 80px;
    background-image: url('asset/pevious.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    border: none;
    cursor: pointer;
    background-color: transparent;
    padding: 0;
}

.comment {
    display: none;
    flex-direction: column;
    position: relative;
    width: 380px;
    height: 220px;
    background: white;
    padding: 40px 30px;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
}

.comment h1{
    padding-bottom: 10px;
}

.comment.active {
    display: block; 
}

.comment h1 {
    font-size: 16px;
    margin-bottom: 5px;
}

.comment label {
    font-size: 14px;
    color: #333;
}


.Bondalem-Eco-Dive{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-top: 100px;
    margin-left: 100px;
}



.banner-penjelasan{
    height: 550vh;
    position: relative;
    overflow: hidden;
}

.banner-penjelasan h1{
    color: #e67e22;
}
.banner-penjelasan .bgpnj{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
}
.banner-pnj .bg-1{
    background-image: url('asset/23.png');
}

@keyframes animasi-bg2 {
    0% {
        transform: rotate(0deg) translateX(0);
    }
    50%{
        transform: rotate(5deg) translateX(-10px);
    }
    100% {
        transform: rotate(0deg) translateX(0);
    }
}
.banner-pnj .bg-2{
    background-image: url('asset/25.png');
    animation: animasi-bg2 8s linear infinite;
}

@keyframes animasi-bg3 {
    0% {
        transform: rotate(0deg) translate(0, 0);
    }
    32%{
        transform: translate(-500px, 200px)  rotate(-20deg) ;
    }
    60%{
        transform: translate(-1000px, 200px) rotate(0deg) ;
    }
    100%{
        transform: translate(-2000px, -100px) rotate(30deg) ;
    }
    
}
.banner-pnj .bg-3{
    background-image: url('asset/27.png');
    animation: animasi-bg3 9s linear infinite;
    animation-fill-mode: forwards; 
    position: absolute;
    left: 600px;
}

@keyframes animasi-bg4 {
    0% {
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(-4deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75% {
        transform: rotate(4deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
.banner-pnj .bg-4{
    background-image: url('asset/28.png');
    animation: animasi-bg4 8s linear infinite;
    left: -200px;
    top: 100px;
}

@keyframes animasi-bg5 {
    0% {
        transform: rotate(0deg) translateX(0);
    }
    50%{
        transform: rotate(5deg) translateX(-20px);
    }
    100% {
        transform: rotate(0deg) translateX(0);
    }
}
.banner-pnj .bg-5{
    background-image: url('asset/29.png');
    bottom: 100px;
    animation: animasi-bg5 8s linear infinite;
}

@keyframes animasi-bg6 {
    0% {
        transform: rotate(0deg) translate(0, 0);
    }
    100%{
        transform: rotate(5deg) translate(-1500px, -1700px);
    }
    
}
.banner-pnj .bg-6 {
    background-image: url('asset/31.png');
    animation: animasi-bg6 8s linear infinite;
    animation-fill-mode: forwards; 
    position: absolute;
    top: 400px;
    left: 400px;
}


@keyframes animasi-bg7 {
    0% {
        transform: rotate(0deg) translate(0, 0);
    }
    100%{
        transform: rotate(-50deg) translate(1800px, 2100px);
    }
    
}
.banner-pnj .bg-7{
    background-image: url('asset/32.png');
    top: -400px;
    left: -500px;
    animation: animasi-bg7 8s linear infinite;
    animation-fill-mode: forwards; 
    position: absolute;
}

@keyframes animasi-bg8 {
    0% {
        transform: rotate(0deg) translateX(0);
    }
    50%{
        transform: rotate(5deg) translateX(-20px);
    }
    100% {
        transform: rotate(0deg) translateX(0);
    }
}
.banner-pnj .bg-8 {
    background-image: url('asset/33.png');
    animation: animasi-bg8 10s linear infinite; 
}

@keyframes animasi-bg9 {
    0% {
        transform: rotate(0deg) translateY(0);
    }
    50%{
        transform: translateY(-50px) rotate(-4deg);
    }
    100% {
        transform: rotate(0deg) translateY(0);
    }
}
.banner-pnj .bg-9{
    background-image: url('asset/35.png');
    top: 100px;
    animation: animasi-bg9 10s linear infinite;
}

.banner-pnj .bg-10{
    background-image: url('asset/34.png');
}

@keyframes animasi-bg11{
    0% {
        transform: rotate(0deg) translateY(0);
    }
    50%{
        transform: translateY(-50px) rotate(4deg);
    }
    100% {
        transform: rotate(0deg) translateY(0);
    }
}
.banner-pnj .bg-11{
    background-image: url('asset/36.png');
    left: -100px;
    animation: animasi-bg11 10s linear infinite;
}
.banner-penjelasan a{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #e67e22;
    border: none;
    border-radius: 8px;
    height: 50px;
    cursor: pointer;
    color: #fff;
    text-decoration: none;
}
.banner-pnj  h1{
    position: absolute;
    top: 15%;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: #fff;
}

.line{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 3px;
    height: 60%;
    background-color: #fff;
    z-index: 1;
}

.horizontal-line {
    position: absolute;
    display: flex;
    align-items: center;
    width: 10%;
    left: 40%;
}

.horizontal-line-2 {
    position: absolute;
    display: flex;
    align-items: center;
    width: 10%;
    left: 50%;
}

.penjelasan {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 14%;
    color: #0a0a11;
    gap: 20px;
    width: 24vw;
    background-color: #fff;
    padding: 40px 40px;
    border-radius: 8px;
}

.penjelasan ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 18px;
}

.penjelasan-2 {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 63%;
    color: #0a0a11;
    gap: 20px;
    width: 27vw;
    background-color: #fff;
    padding: 40px 40px;
    border-radius: 8px;
}

.penjelasan-2 ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 17px;
}

.penjelasan-3 {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 63%;
    color: #0a0a11;
    gap: 20px;
    width: 27vw;
    background-color: #fff;
    padding: 40px 40px;
    border-radius: 8px;
}

.penjelasan-3 ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 17px;
}

.penjelasan-4 {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: 12%;
    color: #0a0a11;
    gap: 20px;
    width: 26vw;
    background-color: #fff;
    padding: 40px 40px;
    border-radius: 8px;
}

.penjelasan-4 ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 18px;
}

.horizontal {
    flex-grow: 1;
    height: 2px; 
    background-color: #fff;
}

.circle {
    width: 10px; 
    height: 10px;
    background-color: #fff; 
    border-radius: 50%; 
}

.destinasi{
    background-image: url("asset/background-destination.png");
    background-size: cover;
    background-repeat: no-repeat;
    padding: 5vw 0;
    margin-bottom: 10vw;
}
.destinasi-diving{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    color: #fff;
    margin: 5vw 0;
}

.gambar-utama{
    display: flex;
    justify-content: space-between;
    gap: 2vw;
}
.keterangan{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2vw;
    padding: 6vw 5vw 6vw 5vw;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    transform: translateY(20px);
    background-color: rgba(10, 10, 17, 0.2);
    margin: 0 0 2.2vw 10vw;
    border-radius: 8px;
    backdrop-filter: blur(2px); 
    -webkit-backdrop-filter: blur(2px);
}
.keterangan1{
    display: flex;
    flex-direction: column;
    gap: 0.1vw;
}
.keterangan1 h1{
    font-size: 5vh;
}
.keterangan1 a{
    color: white;
}
.keterangan2 label{
    font-size: 2vh;
}
.gambar-utama .gambar{
    display: flex;
    align-items: center;
}
.keterangan h1{
    color: #e67e22;
}
.keterangan3 button{
    width: 10vw;
    height: 3vw;
    border-radius: 8px;
    color: white;
    background-color: #e67e22;
    border: none;
    margin: 2vw 0;
    cursor: pointer;
    font-size: 1vw;
}
.gambar img{
    height: 35vw;
    width: 55vw;
    border-radius: 8px;
}

.semua-pilihan{
    display: flex;
    gap: 3vw;
    overflow-x: scroll;
    padding: 5vh 0 0 10vw;
    scrollbar-width: none;
}
.semua-pilihan::-webkit-scrollbar{
    display: none;
}
.pilihan img{
    width: 28vw;
    height: 20vw;
    object-fit: cover;
    border-radius: 12px;
    cursor: pointer;
}


@media (max-width: 720px) {


    .keterangan1 h1{
        font-size: 3vh;
    }
    .keterangan2 label{
        font-size: 1.5vh;
    }
    .main-card {
        display: flex;
        flex-direction: column;
        gap: 10vw;
    }
    
    .card {
        width: 70vw;
        height: 70vw;
    }

    .title{
        text-align: center;
        gap: 12vw
    }

    .line{
        z-index: 0;
    }
    .horizontal-line{
        display: none;
    }
    .horizontal-line-2{
        display: none;
    }
    .penjelasan {
        left: 10%;
        width: 80vw;
        font-size: 4vw;
    }
    .penjelasan-2 {
        left: 10%;
        width: 80vw;
        font-size: 4vw;
    }
    .penjelasan-3{
        left: 10%;
        width: 80vw;
    }
    .penjelasan-4 {
        left: 10%;
        width: 80vw;
    }

    .gambar-utama{
        display: flex;
        flex-direction: column;
    }
    .keterangan{
        order: 2;
        padding: 6vw 5vw 6vw 5vw;
        margin: 0 3vw 2.2vw 3vw;
    }
    .keterangan1 h1{
        text-align: center;
        font-size: 3vh;
        padding-bottom: 2vw;
    }
    .keterangan1 a{
        display: flex;
        justify-content: center;
        text-align: center;
        color: white;
        padding-bottom: 4vw;
    }
    .keterangan2 label{
        display: flex;
        text-align: justify;
        font-size: 2vh;
    }
    .keterangan3 button{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 6vw;
        border-radius: 8px;
        color: white;
        background-color: #e67e22;
        border: none;
        margin: 2vw 0;
        cursor: pointer;
        font-size: 3vw;
    }


    .gambar-utama .gambar{
        order: 1;
        justify-content: center;
    }
    .gambar img{
        width: 100%;
        height: 55vw;
        border-radius: 8px;
        padding: 0 10vw;
    }


    .gambar-penjelasan{
        flex: 1;
        display: flex;
        flex-direction: column;
        padding-left: 0vw;
        padding-bottom: 4vw;
        gap: 4vw;
    }
    
    .gambar-penjelasan .video img{
        width: 100%;
        height: 55vw;
        border-radius: 8px;
    }
    
    .gambar-penjelasan .gambar{
        display: flex;
        justify-content: space-between;
    }
    .gambar-penjelasan .gambar1 img{
        width: 45vw;
        height: 36vw;
        background-size: cover;
    }
    .gambar-penjelasan .gambar2 img{
        width: 32vw;
        height: 36vw;
        background-size: cover;
    }


    .semua-pilihan{
        gap: 6vw;
    }
    .pilihan img{
        width: 38vw;
        height: 30vw;
    }

    .tempat-khursus{
        flex-direction: column;
        padding: 0;
    }
    .map-khursus{
        display: flex;
        width: 100%;
    }
}


.News-destination {
    display: flex;
    align-items: flex-end;
    gap: 4vw;
    overflow-x: scroll;
    width: 88%;
    padding: 3vw 0 3vw 0vw;
    scrollbar-width: none;
    margin: 0 0 10vw 6vw;
}

.news {
    height: 30vw;
    background-color: #fff;
    border-radius: 12px;
    position: relative;
}
.news img {
    width: 30vw;
    height: 15vw;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}
.isi {
    display: flex;
    flex-direction: column;
    padding: 2vw;
    gap: 1vw;
}

.read-more {
    color: #007BFF;
    text-decoration: none;
    cursor: pointer;
}

.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0 8vw;
    width: 100%;
    height: 18vw;
    border-top: 2px  solid #e67e22;
    color: white;
}
.part1{
    display: flex;
    flex-direction: column;
    gap: 1vw;
}
.part1 h1, a{
    color: white;
    text-decoration: none;
}
.footer h1{
    font-family: 'Pacifico', cursive;
}
.part1 h1:hover{
    color: #e67e22;
}
.sosial-media .fa-brands{
    width: 3vw;
    font-size: 1.5vw;
    color: white;
}
.sosial-media .fa-brands:hover{
    color: #e67e22;
}
.footer .part2{
    display: flex;
    flex-direction: column;
    gap: 4vw;
}
.footer button{
    padding: 1vw 2vw;
    border-radius: 8px;
    color: #fff;
    border: 2px solid #fff;
    background-color: #000000;
}
.footer button:hover{
    padding: 1vw 2vw;
    border-radius: 8px;
    color: #e67e22;
    border: 2px solid #e67e22;
    background-color: #fff;
}

.judul{
    display: flex;
    justify-content: center;
    text-align: center;
    color: #e67e22;
    width: 100%;
    margin-bottom: 4vw;
}


.tempat-khursus{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 10vw;
    color: white;
    gap: 6vw;
    font-size: 1.4vw;
}
.map-khursus{
    display: flex;
    width: 80%;
}
.tempat-khursus h1{
    color: #e67e22;
    font-size: 2vw;
}




