@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin :0;
    background-color: #0a0a11;
    font-family: 'Poppins' , sans-serif;
    font-size: 15px;
    width: 100vw;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 5px;
}

::-webkit-scrollbar-track {
    background: #000000;
}

::-webkit-scrollbar-thumb {
    background: #e67e22; 
    border-radius: 10px;
}

.nav {
    position: fixed;
    z-index: 999;
    width: 100vw;
    top: 0;
    transition: top 0.9s ease;
}
.nav.hidden {
    top: -100px;
    
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #0a0a11;
    color: white;
    padding: 0 10vw; 
}
.Nama-web {
    font-size: 0.7vw;
    font-family: 'Pacifico', cursive;
}
.list-nav {
    display: flex;
    justify-content: center;
    font-size: 0.5vw;
    gap: 60px;
}
.list-nav h1.list{
    width: max-content;
    position: relative;
    display: inline-block;
    padding-bottom: 5px;
    cursor: pointer;
}
.list-nav h1.list::after{
    content: "";
    position: absolute;
    display: inline-block;
    left: 0;
    bottom: 0;
    width: 0;
    height: 2px;
    background-color: #fff;
    transition: width 0.3s ease-in-out;
}
.list-nav h1.list:hover::after{
    width: 100%;
    background-color: #e67e22;
}
.list-nav h1:hover{
    color: #e67e22;
}
.Nama-web a{
    color: #fff;
    text-decoration: none;
}
.button-box {
    display: flex;
	width: 6.5vw;
	margin: 2vw auto;
	position: relative;
	border-radius: 50px;
	background: #fff
}
.tooltip {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    background-color: #ffffff;
    color: #0a0a11;
    white-space: nowrap;
    padding: 10px 15px;
    border-radius: 8px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.5s ease;
}
.button-box:hover .tooltip{
    top: 130%;
    visibility: visible;
    opacity: 1;
}
.tooltip::before{
    content: "";
    position: absolute;
    left: 50%;
    bottom: 100%;
    transform: translateX(-50%);
    border: 10px solid transparent;
    border-bottom-color: #ffffff;
}
.button-box img{
    width: 1.6vw;
    height: 1.5vw;
}
.toggle-btn {
	padding: 0.5vw 0.9vw;
	cursor: pointer;
	background: transparent;
	border: 0;
	outline: none;
	position: relative;
	text-align: center;
    border-radius: 50%;
}
#btn {
	left: 0;
	top: 0;
	position: absolute;
	width: 3.6vw;
	height: 100%;
	background: #e67e22;
	border-radius: 50px;
	transition: .5s;
}

.banner{
    height: 100vh;
    position: relative;
    overflow: hidden;
}
.banner .bg{
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center bottom;
    transition: 0.1s;
}
.banner .bg-1{
    background-image: url('asset-snorkeling/1.png');
}
.banner .bg-2{
    background-image: url('asset-snorkeling/2.png');
}
.banner .bg-3{
    background-image: url('asset-snorkeling/3.png');
}
.banner .bg-4{
    background-image: url('asset-snorkeling/4.png');
}
.banner .bg-5{
    background-image: url('asset-snorkeling/5.png');
}

@keyframes animation-bg6{
    0% {
        transform: translate(-30px, 20px);
    }
    100% {
        transform: translate(0, 0);
    }
}
.banner .bg-6{
    background-image: url('asset-snorkeling/6.png');
    animation: animation-bg6 8s;
}

@keyframes animation-bg7{
    0% {
        transform: rotate(-4deg);
    }
    100% {
        transform: rotate(0deg);
    }
}
.banner .bg-7{
    background-image: url('asset-snorkeling/7.png');
    top: -45px;
    rotate: -12deg;
    left: 10px;
    animation: animation-bg7 8s;
}
.banner .bg-8{
    background-image: url('asset-snorkeling/8.png');
    top: 420px;
}
.banner .bg-9{
    background-image: url('asset-snorkeling/9.png');
}

.banner  h1{
    position: absolute;
    top: 25%;
    left: 0;
    width: 100%;
    text-align: center;
    font-size: 12vw;
    font-family: 'Pacifico', cursive;
    color: #fff;
}


.Penjelasan{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    margin-top: 10vw;
    margin-bottom: 10vw;
}

.primer{
    color: #e67e22;
}

.judul{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0 10vw;
    gap: 2vw;
    color: white;
}
.judul h1{
    font-size: 3vw;
    margin-top: 0;
}
.judul label{
    font-size: 1.5vw;
}

.info-tambahan{
    display: flex;
    flex-direction: column;
    gap: 0.8vw;
}
.info{
    display: flex;
    align-items: center;
    gap: 1vw;
}
.info label{
    font-size: 01vw;
}
.info img{
    width: 1.2vw;
    height: 1.2vw;
}

.jenis{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 5vw ;
    margin-bottom: 10vw;
    gap: 2vw;
}

.full-penjelasan{
    display: flex;
    align-items: center;
}

.penjelasan-jenis{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    font-size: 1.2vw;
    padding: 3vw 8vw 3vw 5vw;
    gap: 2vw;
}

.jenis-1 .gambar-penjelasan-jenis{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-right: 5vw;
    width: 40vw;
    background-size: cover;
}
.jenis-2 .gambar-penjelasan-jenis{
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding-left: 5vw;
    width: 40vw;
    background-size: cover;
}
.gambar-penjelasan-jenis img{
    border-radius: 8px;
}

.alat1{
    display: flex;
    width: 100%;
    padding: 0 5vw;
    gap: 2vw;
}
.alat2{
    display: flex;
    width: 100%;
    padding: 0 5vw;
    gap: 2vw;
}
.icon{
    display: flex;
    align-items: center;
    gap: 1vw;
    font-size: 0.5vw;
    color: #e67e22;
}
.alat{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 12vw;
    background-color: rgba(255, 255, 255, 0.09);
    border-radius: 8px;
    border: 2px solid #e67e22;
    color: white;
    padding: 2vw;
    font-size: 0.8vw;
    gap: 0.5vw;
}

.alat img{
    width: 1.8vw;
}

.alat .line{
    width: 100%;
    height: 1px;
    background-color: #e67e22;
}

.gambar-penjelasan{
    flex: 1;
    display: flex;
    flex-direction: column;
    padding-left: 10vw;
    gap: 1vw;
}

.gambar-penjelasan .video img{
    width: 100%;
    height: 22vw;
    border-radius: 8px;
}

.gambar-penjelasan .gambar{
    display: flex;
    justify-content: space-between;
}
.gambar-penjelasan .gambar1 img{
    width: 21vw;
    height: 13vw;
    background-size: cover;
}
.gambar-penjelasan .gambar2 img{
    width: 12vw;
    height: 13vw;
    background-size: cover;
}

.map{
    position: relative; 
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    width: 100vw;
    height: 40vw;
    background-image: url('asset-snorkeling/map.png');
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    padding: 12vw 0;
}
.judul-map {
    font-size: 1.6vw;
}
.tombol-map{
    position: relative;
    z-index: 2;
    padding: 1vw 2vw;
    background-color: #e67e22;
    border-radius: 8px;
}
.tombol-map a{
    text-decoration: none;
    color: white;
    font-size: 1.4vw;
}

.gradasi-atas {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 10vw; 
    background: linear-gradient(to bottom, #0a0a11, transparent);
    z-index: 1;
}

.gradasi-bawah {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 10vw;
    background: linear-gradient(to top, #0a0a11, transparent);
    z-index: 1;
}

.destinasi-diving{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    color: #fff;
    margin: 15vw 0;
}

.gambar-utama{
    display: flex;
    justify-content: space-between;
}
.keterangan{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 2vw;
    padding: 6vw 5vw 6vw 10vw;
    transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
    transform: translateY(20px);
}
.keterangan1{
    display: flex;
    flex-direction: column;
    gap: 0.1vw;
}
.keterangan1 h1{
    font-size: 5vh;
}
.keterangan1 a{
    color: white;
}
.keterangan2 label{
    font-size: 2vh;
}
.gambar-utama .gambar{
    display: flex;
    align-items: center;
}
.keterangan h1{
    color: #e67e22;
}
.keterangan3 button{
    width: 10vw;
    height: 3vw;
    border-radius: 8px;
    color: white;
    background-color: #e67e22;
    border: none;
    margin: 2vw 0;
    cursor: pointer;
    font-size: 1vw;
}
.gambar img{
    height: 35vw;
    border-radius: 8px;
}

.semua-pilihan{
    display: flex;
    gap: 3vw;
    overflow-x: scroll;
    padding: 5vh 0 5vh 10vw;
    scrollbar-width: none;
}
.semua-pilihan::-webkit-scrollbar{
    display: none;
}
.pilihan img{
    width: 28vw;
    height: 20vw;
    object-fit: cover;
    border-radius: 12px;
    cursor: pointer;
}

.splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0); 
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem; 
    z-index: 999; 
    font-family: 'Pacifico', cursive;

}

.loader {
    border: 8px solid rgba(255, 255, 255, 0.3); 
    border-top: 8px solid #ffffff;
    border-radius: 50%;
    width: 60px; 
    height: 60px;
    animation: spin 1s linear infinite; 
    margin-bottom: 20px;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.animation-show{
    transform: translateY(50px);
    opacity: 0;
    transition: 0.9s;
}
.active .animation-show{
    transform: translateY(0);
    opacity: 1;
}


.contact{
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: #e67e22;
    padding: 8vw 25vw;
    margin: 5vw 10vw;
    border-radius: 12px;
    gap: 4vw;
}
.contact .input{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 1vw;
}
.contact .input input{
    width: 100%;
    padding: 1.5vw;
    border-radius: 50vw;
    border: none;
}
.contact .button{
    width: 100%;
}
.contact .button button{
    width: 100%;
    border-radius: 50vw;
    border: 1px solid #ffffff;
    padding: 1vw 0;
    background-color: #e67e22;
}

#success-message {
    position: relative;
    transition: opacity 0.5s;
    opacity: 0;
}

#success-message.show {
    position: relative;
    opacity: 1;
}


.footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0;
    padding: 0 8vw;
    width: 100%;
    height: 18vw;
    border-top: 2px  solid #e67e22;
    color: white;
}
.part1{
    display: flex;
    flex-direction: column;
    gap: 1vw;
}
.part1 h1, a{
    color: white;
    text-decoration: none;
}
.footer h1{
    font-family: 'Pacifico', cursive;
}
.part1 h1:hover{
    color: #e67e22;
}
.sosial-media .fa-brands{
    width: 3vw;
    font-size: 1.5vw;
    color: white;
}
.sosial-media .fa-brands:hover{
    color: #e67e22;
}
.footer .part2{
    display: flex;
    flex-direction: column;
    gap: 4vw;
}
.footer button{
    padding: 1vw 2vw;
    border-radius: 8px;
    color: #fff;
    border: 2px solid #fff;
    background-color: #000000;
}
.footer button:hover{
    padding: 1vw 2vw;
    border-radius: 8px;
    color: #e67e22;
    border: 2px solid #e67e22;
    background-color: #fff;
}


@media (max-width: 720px) {

    .banner{
        height: 100vh;
        position: relative;
        overflow: hidden;
    }

    .keterangan1 h1{
        font-size: 1.5vh;
    }
    .keterangan2 label{
        font-size: 1vh;
    }

    .keterangan1 h1{
        font-size: 3vh;
    }
    .keterangan2 label{
        font-size: 1.5vh;
    }


    .Penjelasan{
        display: flex;
        flex-direction: column;
        text-align: justify;
    }
    .judul h1{
        text-align: center;
        font-size: 8vw;
        margin-top: 0;
    }
    .judul label{
        font-size: 5vw;
    }
    
    .info-tambahan{
        display: flex;
        flex-direction: column;
        gap: 0.8vw;
    }
    .info{
        display: flex;
        align-items: center;
        gap: 1vw;
    }
    .info label{
        font-size: 01vw;
    }
    .info img{
        width: 1.2vw;
        height: 1.2vw;
    }


    .full-penjelasan{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .penjelasan-jenis {
        text-align: justify;
        padding: 3vw 5vw 3vw 5vw;
        order: 2;
        font-size: 5vw;
        gap: 10vw;
    }

    .penjelasan-jenis .primer{
        text-align: center;
        padding-bottom: 1vw;
    }
    .gambar-penjelasan-jenis {
        order: 1;
        padding: 3vw 0;
    }

    .jenis-1 .gambar-penjelasan-jenis{
        padding-right: 0vw;
        width: 90%;
    }
    .jenis-2 .gambar-penjelasan-jenis{
        padding-left: 0vw;
        width: 90%;
    }


    .info{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1vw;
    }
    .info label{
        text-align: center;
        font-size: 4vw;
    }
    .info img{
        width: 7.2vw;
        height: 7.2vw;
    }


    .gambar-utama{
        display: flex;
        flex-direction: column;
    }
    .keterangan{
        order: 2;
        padding: 6vw 10vw 6vw 10vw;
    }
    .keterangan1 h1{
        text-align: center;
        font-size: 3vh;
        padding-bottom: 2vw;
    }
    .keterangan1 a{
        display: flex;
        justify-content: center;
        text-align: center;
        color: white;
        padding-bottom: 4vw;
    }
    .keterangan2 label{
        display: flex;
        text-align: justify;
        font-size: 2vh;
    }
    .keterangan3 button{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 6vw;
        border-radius: 8px;
        color: white;
        background-color: #e67e22;
        border: none;
        margin: 2vw 0;
        cursor: pointer;
        font-size: 3vw;
    }


    .gambar-utama .gambar{
        order: 1;
        justify-content: center;
    }
    .gambar img{
        height: 55vw;
        border-radius: 8px;
    }


    .gambar-penjelasan{
        flex: 1;
        display: flex;
        flex-direction: column;
        padding-left: 0vw;
        padding-bottom: 4vw;
        gap: 4vw;
    }
    
    .gambar-penjelasan .video img{
        width: 100%;
        height: 55vw;
        border-radius: 8px;
    }
    
    .gambar-penjelasan .gambar{
        display: flex;
        justify-content: space-between;
    }
    .gambar-penjelasan .gambar1 img{
        width: 45vw;
        height: 36vw;
        background-size: cover;
    }
    .gambar-penjelasan .gambar2 img{
        width: 32vw;
        height: 36vw;
        background-size: cover;
    }


    .semua-pilihan{
        gap: 6vw;
    }
    .pilihan img{
        width: 38vw;
        height: 30vw;
    }


    .alat1{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0 5vw;
        gap: 2vw;
    }
    .alat2{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0 5vw;
        gap: 2vw;
    }
    .alat{
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 40vw;
        background-color: rgba(255, 255, 255, 0.09);
        border-radius: 8px;
        border: 2px solid #e67e22;
        color: white;
        padding: 2vw;
        font-size: 4vw;
        gap: 2vw;
    }
    
    .alat img{
        width: 8vw;
    }
    .icon{
        gap: 3vw;
        font-size: 2vw;
    }


    .banner .bg-1{
        background-image: url('tampilanhp/hp6.png');
    }
    .banner .bg-2{
        background-image: url('tampilanhp/hp7.png');
    }
    .banner .bg-3{
        background-image: url('tampilanhp/hp8.png');
    }
    .banner .bg-4{
        background-image: url('tampilanhp/hp9.png');
    }
    .banner .bg-5{
        background-image: url('tampilanhp/hp10.png');
    }
    
    @keyframes animation-bg6{
        0% {
            transform: translate(-30px, 20px);
        }
        100% {
            transform: translate(0, 0);
        }
    }
    .banner .bg-6{
        background-image: url('tampilanhp/hp11.png');
        animation: animation-bg6 8s;
    }
    
    @keyframes animation-bg7{
        0% {
            transform: rotate(-4deg);
        }
        100% {
            transform: rotate(0deg);
        }
    }
    .banner .bg-7{
        background-image: url('tampilanhp/hp12.png');
        top: -45px;
        rotate: -12deg;
        left: 10px;
        animation: animation-bg7 8s;
    }
    .banner .bg-8{
        background-image: url('tampilanhp/h13.png');
        top: 420px;
    }
    .banner .bg-9{
        background-image: url('tampilanhp/hp14.png');
    }
    
    .banner  h1{
        position: absolute;
        top: 40%;
        left: 0;
        width: 100%;
        text-align: center;
        font-size: 12vw;
        font-family: 'Pacifico', cursive;
        color: #fff;
    }

    
    .footer{
        height: 30vw !important;
    }
    .sosial-media .fa-brands{
        width: 7.5vw !important;
        font-size: 3vw !important;
    }
}